* {
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Ibarra Real Nova', serif;
 

}
#container {
  background-color:#ed6663;
} 
h1{
   padding-top:10px ; 
   padding-bottom:5px;
}
#inputElement {
  border-radius: 5px;
  text-align: center;
}
.toDoList {
  border-radius: 5px;
  height: 80%;
  text-align: auto;
  padding: 15px;
  box-sizing: border-box;
}
#inputToDo {
  margin-top: 0px;
  padding: 8px;
  width: 85%;
  height: 6%;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
#list{
    background-color:#ed6663;;
}
